body {
    background-color: rgb(255, 255, 255);
    font-size: 16px;
    line-height: 1.1;
    font-family: Arial, Helvetica, sans-serif;
}
.form-style {
    width: 1200px;
    margin: 5px 50px;
    background: 5px solid black ;
    border: 2px outset rgb(0, 0, 0);
    display: inline-block;
    font-size: 22px;
    font-family: cursive;
    background-image: url(../images/Beautiful-Wallpaper.jpg);
 }
 .form-style input {
     margin: 10px 20px;
     border: 2px outset gray;
     border-radius: 6px;
     font-size: 22px;
     font-family: cursive;
     background-color: rgb(114, 222, 226);
 }
 .form-style label {
     margin-left: 25px;
 }
 .submit-style {
     background-color: rgb(5, 37, 37);
     color: white;
     padding: 3px 7px;
     border: 2px solid rgb(7, 145, 236);
     border-radius: 5px;
     font-size: 28px;
     margin: 50px 100px;
 }
 .submit-style :hover {
     background-color: rgb(0, 0, 0);
 }
 .serch-style {
     float: right;
 }
 .d-style {
     width: 100%;
     margin: 0 auto;
 }
.main-style {
    font-family: Arial, Helvetica, sans-serif;
    list-style:none;
    margin: 20px 50px;
    padding: 10px;
    width: 1000px;
    border: 3px solid white;
    border-radius: 10px;
}
.main-style a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 16px;
    padding: 15px 25px;
    border: 3px solid white;
    border-radius: 10px;
}
.main-style a:hover {
    background-color: green;
}
.main-style > li.active a {
    background-color: darkgreen;
}
.main-style > li {
    float: left;
    position: relative;
}
.main-style > .down-style > a {
    background-image: url(../images/down_arrow.png);
    background-repeat: no-repeat;
    background-position: center right 10px;
    background-size: 12px auto;
    padding-right: 40px;
}
.main-style .menu-style {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #efefef;
    width: 220px;
    position: absolute;
    z-index: 1;
    display: none;
}
.main-style .menu-style a {
    color: black;
}
.main-style .menu-style a:hover {
    color: white;
}
.main-style > li :hover .menu-style {
    display: block;
}