/* =================================== CSS Reset =================================== */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {  display: block;}
audio,
canvas,
video { display: inline-block;}
audio:not([controls]) { display: none;    height: 0;
}
[hidden],
template { display: none;}
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {margin: 0;}
a { background: transparent;}
a:focus {outline: thin dotted;}
a:active,
a:hover {outline: 0;}
abbr[title] {border-bottom: 1px dotted;}
hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}
mark {
    background: #ff0;
    color: #000;
}
code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
}
pre { white-space: pre-wrap;}
q { quotes: "\201C" "\201D" "\2018" "\2019";}
small { font-size: 80%;}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup { top: -0.5em;}
sub {bottom: -0.25em;}
img { border: 0;}
svg:not(:root) {
    overflow: hidden;
}
figure { margin: 0;}
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
legend {
    border: 0; 
    padding: 0; 
}
button,
input,
select,
textarea {
    font-family: inherit; 
    font-size: 100%;
    margin: 0; 
}
button,
input {
    line-height: normal;
}
button,
select {
    text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer; 
}
button[disabled],
html input[disabled] {
    cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0; 
}
input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
textarea {
    overflow: auto;
    vertical-align: top; 
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
img {
    border:0;
    vertical-align: middle;
    max-width:100%;
    width:auto\9;
    height: auto;
    -webkit-box-sizing: border-box; 
     -moz-box-sizing: border-box; 
          box-sizing: border-box; 
}
textarea { resize: vertical;}

/* Image replacement */
.ir {
    font-size:0;
	line-height:0;
	padding:0;
	display:inline-block;
	text-align:left;
	text-indent:-9999px;
}
/* Clearfix */
.clearfix:before,
.clearfix:after {
    content: " "; 
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
* {
  -webkit-box-sizing: border-box; 
     -moz-box-sizing: border-box; 
          box-sizing: border-box; 
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
button,
input,
select,
textarea {
    color: #000; 
	font-size:100%;
}
b,
strong,
th {
    font-weight: bold;
}
h1, h2, h3, h4, h5, h6, p, ul, ol, dl, form {
	margin-top:0;
	margin-bottom:20px;
}
p { 
	line-height:1.4;
}
/* ====================================== Custom Styles ====================================== */
body {
    background-color: rgb(255, 255, 255);
    font-size: 16px;
    line-height: 1.1;
    font-family: Arial, Helvetica, sans-serif;
}
.site-width {
    width: calc(100% - 30px);
    margin: 0 auto;
}
.opacity img {
    width:100%;
}
.opacity {
    position: relative;
}
.opacity-data {
    position:absolute;
    width: 150px;
    height: 150px;
    background-color: #fff;
    top: 20px;
    right: 20px;
    opacity: .5;
}
.opacity-data:hover {
    opacity: 1;
}
.nav {
    background:#353535;
    position:relative;
    z-index: 1;
}
.main-menu,
.main-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.main-menu .sub-nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background:#fff;
    width: 220px;
}
.main-menu > li {
    float: left;
    position: relative;
}
.main-menu > li > a {
    display: block;
    padding: 20px 25px;
    text-decoration: none;
    color: #fff;
}
.main-menu > li:hover > a {
    background-color: #000;
}
.main-menu > li:hover > .sub-nav {
    display: block;    
}
.main-menu .sub-nav a {
    text-decoration: none;
    padding: 10px 15px;
    color: #000;
    display: block;
}
.main-menu .sub-nav a:hover {
    background-color: #000;
    color: #fff;
}
/* Sidebar Navigation */
.div-style {
    background-color: #353535;
    width: 300px;
    float: left;
}
.ul-style,
.ul-style ul {
    font-family: Arial, Helvetica, sans-serif;
    list-style:none;
    margin: 0;
    padding: 0;
    font-size: 16px;
}
.ul-style > li > ul {
    padding-left: 30px;
}
.ul-style > li > a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding:10px 15px;
}
.ul-style > li > ul a {
    display: block;
    color: gray;
    text-decoration: none;
}
.ul-style > li > a:hover {
    opacity: .5;
}
.ul-style > li > ul a:hover {
    color: #fff;
}
.ul-style > li > ul li[title="Trend"] a {
    font-weight: bold;
    color: yellow;
}

/* photo gallery */
.photo-gallery {
    overflow: hidden;
    padding: 15px;
}
.photo-gallery ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.photo-gallery ul li {
    float: left;
    border: 1px solid white;
    width: 23%;
    background-color: #fff;
    margin: 1%;
    padding: 5px;
    text-align: center;
}
.photo-gallery ul li:hover {
    border: 1px solid rgb(0, 0, 0);
}
.photo-gallery ul li figcaption {
    padding: 5px;
    font-size: 12px;
}

.sprite-example {
    background: #fff;
    padding: 15px;
}
.home-icon,
.icon-arrow {
    display: inline-block;
    vertical-align: middle;
    width: 44px;
    height: 43px;
    background: url(../images/img_navsprites_hover.gif) no-repeat 0 0;
    margin: 0 5px 0 0;
}
a:hover .home-icon {
    background-position: 0 -46px;
}
.icon-arrow {
    background-position: -47px 0;
}
.contact-form form {
    border:1px solid #ccc;
    background-color: white;
    padding: 20px;
}
.form-input-row {
    margin-bottom: 15px;
}
.form-input-row label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
.form-input-row input[type="text"],
.form-input-row select {
    width: 50%;
    padding:8px 15px;
    border-radius: 4px;
    border:1px solid gray;
}

.box-layout {
    clear: both;
    margin: 50px auto;
}
.box-layout table {
    width: 1000px;
    margin: 10px auto 50px auto;
}
.box-layout table td {
    border:25px solid #fff;
    background-color: #8b7676;
    text-align: center;
    width: 25%;
}
.box-layout table tr:first-child td:nth-child(3) {
    background-color: #8162a0;
}
.box-layout table tr:last-child td:last-child {
    background-color: #fff;
}
.content-block-outer {
    max-width: 1000px;
    margin: 0 auto;
}
.content-block-outer .content-block {
    float: left;
    background-color: #8b7676;
    width: 21.25%;
    margin-right: 5%;
    margin-bottom: 30px;
}
.content-block-outer .content-block.col4 {
    margin-right: 0;
}
.content-block-outer .content-block.col5 {
    clear: both;
}

.gallery-style {
    clear: both;
}
.beforeafter::after {
    content: "Text here";
    display: block;
    clear: both;
}

.flex-block-outer {
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
}
.flex-block-outer .flex-block {
    flex: 25%;
    margin:0;
    margin-bottom: 15px;
    position: relative;    
}
.flex-block-outer .flex-block:before {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 15px;
    right: 15px;
    background-color: #3a2222;
    z-index: 1;
}
.flex-block-outer .flex-block .flex-innerr {    
    margin:0 15px;
    position:relative;
    z-index: 2;
    color: #fff;
    padding: 15px;
    font-size: 12px;
}

.positions {
    width: 600px;
    margin: 100px 0 100px 0;
    background-color: #ccc;
}
.position {
    background-color: #c6ea77;
}

/* Image Gallery Style */
.gallery-wrapper {
    padding: 50px;
}
.gallery-item {
    float: left;
    width: 23%;
    margin-right: 2%;
    border:1px solid #ccc;
    padding: 2px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(255, 0 ,0,.1);
}
.gallery-item img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.gallery-item:hover {
    border:1px solid #000;
}
.gallery-item .gallery-image-caption {
    padding: 25px;
    text-align: center;
}

/* =============== Media Queries ================ */
@media screen and (max-width:1023px) { 
	/* target 768 */
    .site-width {
        padding-left:15px;
        padding-right:15px;
    }
}
@media screen and (max-width: 767px) { 
	/* target 568 */
}
@media screen and (max-width: 567px) { 
	.home .coverbackground {
        background-position: 0 center;
    }
}
@media screen and (max-width: 413px) {
	.home .coverbackground {
        background-position: 0 center;
    }
}
