.h1style {
    font-size: 35px;
    font-family: cursive;
    background-color: gray;
    color: white;
    text-align: center;
}
.gallery-style {
        overflow: hidden;
        padding: 15px;
}
.gallery-style ul{
    list-style: none;
    margin: 20px 110px;
    padding: 0;
}
.gallery-style ul li {
    float: left;
    width: 250px;
    margin: 5px 10px;
    padding: 2px;
    border: 2px solid black;
    background-color: gainsboro;
    text-align: center;   
}
.gallery-style ul li:nth-child(5) {
    clear: left;
}
.gallery-style ul li :hover {
    background-color: gold;
}
.gallery-style ul li figcaption {
    padding: 6px;
    font-size: 16px;
}
.h1style {
    max-width: 1000px;
    margin: 0 auto;
}
.div-style {
    width: calc(100% - 30px);
    margin: 15px 30px;
}
.sub-nav-style li > a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    list-style:none;
    margin-bottom: 0;
    padding: 0;
    background-color: #eedfdf;
    color: rgb(0, 0, 0);
}
.sub-nav-style li {
    font-size: 24px;
    display: inline-block;
    padding: 5px 15px;
    font-weight: bold;
}
.sub-nav-style :last-child {
    float: right;
}
.sub-nav-style > li a:hover{
    display: block;
    color: gray;
    text-decoration: none;
}
.sub-nav-style ul li a:hover{
    background-color: gray;
}
.sub-nav-style .nav1-style a:hover {
    color: #fff;
    background-color: indigo;
}
.sub-nav-style .nav1-style {
    list-style:none;
    margin: 0;
    padding: 0;
    background-color: #efefef;
    width: 220px;
    position: absolute;
    z-index: 1;
    display: none;
}
.sub-nav-style li > .li-style > a {
    background: url(../images/down.png) no-repeat;
    background-position: center right 10px;
    background-size: 12px auto;
    padding-right: 40px;
}