/* =================================== CSS Reset =================================== */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {  display: block;}
audio,
canvas,
video { display: inline-block;}
audio:not([controls]) { display: none;    height: 0;
}
[hidden],
template { display: none;}
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {margin: 0;}
a { background: transparent;}
a:focus {outline: thin dotted;}
a:active,
a:hover {outline: 0;}
abbr[title] {border-bottom: 1px dotted;}
hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}
mark {
    background: #ff0;
    color: #000;
}
code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
}
pre { white-space: pre-wrap;}
q { quotes: "\201C" "\201D" "\2018" "\2019";}
small { font-size: 80%;}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup { top: -0.5em;}
sub {bottom: -0.25em;}
img { border: 0;}
svg:not(:root) {
    overflow: hidden;
}
figure { margin: 0;}
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
legend {
    border: 0; 
    padding: 0; 
}
button,
input,
select,
textarea {
    font-family: inherit; 
    font-size: 100%;
    margin: 0; 
}
button,
input {
    line-height: normal;
}
button,
select {
    text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer; 
}
button[disabled],
html input[disabled] {
    cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0; 
}
input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
textarea {
    overflow: auto;
    vertical-align: top; 
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
img {
    border:0;
    vertical-align: middle;
    max-width:100%;
    width:auto\9;
    height: auto;
    -webkit-box-sizing: border-box; 
     -moz-box-sizing: border-box; 
          box-sizing: border-box; 
}
textarea { resize: vertical;}

/* Image replacement */
.ir {
    font-size:0;
	line-height:0;
	padding:0;
	display:inline-block;
	text-align:left;
	text-indent:-9999px;
}
/* Clearfix */
.clearfix:before,
.clearfix:after,
.site-width:before,
.site-width:after {
    content: " "; 
    display: table;
}
.clearfix:after,
.site-width:after {
    clear: both;
}
.clearfix,
.site-width {
    *zoom: 1;
}
* {
  -webkit-box-sizing: border-box; 
     -moz-box-sizing: border-box; 
          box-sizing: border-box; 
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
button,
input,
select,
textarea {
    color: #000; 
	font-size:100%;
}
b,
strong,
th {
    font-weight: bold;
}
h1, h2, h3, h4, h5, h6, p, ul, ol, dl, form {
	margin-top:0;
	margin-bottom:20px;
}
p { 
	line-height:1.4;
}
/* ===================================== custome style =========================================== */