/* =================================== CSS Reset =================================== */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {  display: block;}
audio,
canvas,
video { display: inline-block;}
audio:not([controls]) { display: none;    height: 0;
}
[hidden],
template { display: none;}
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {margin: 0;}
a { background: transparent;}
a:focus {outline: thin dotted;}
a:active,
a:hover {outline: 0;}
abbr[title] {border-bottom: 1px dotted;}
hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}
mark {
    background: #ff0;
    color: #000;
}
code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
}
pre { white-space: pre-wrap;}
q { quotes: "\201C" "\201D" "\2018" "\2019";}
small { font-size: 80%;}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup { top: -0.5em;}
sub {bottom: -0.25em;}
img { border: 0;}
svg:not(:root) {
    overflow: hidden;
}
figure { margin: 0;}
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
legend {
    border: 0; 
    padding: 0; 
}
button,
input,
select,
textarea {
    font-family: inherit; 
    font-size: 100%;
    margin: 0; 
}
button,
input {
    line-height: normal;
}
button,
select {
    text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer; 
}
button[disabled],
html input[disabled] {
    cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0; 
}
input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
textarea {
    overflow: auto;
    vertical-align: top; 
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
img {
    border:0;
    vertical-align: middle;
    max-width:100%;
    width:auto\9;
    height: auto;
    -webkit-box-sizing: border-box; 
     -moz-box-sizing: border-box; 
          box-sizing: border-box; 
}
textarea { resize: vertical;}

/* Image replacement */
.ir {
    font-size:0;
	line-height:0;
	padding:0;
	display:inline-block;
	text-align:left;
	text-indent:-9999px;
}
/* Clearfix */
.clearfix:before,
.clearfix:after,
.site-width:before,
.site-width:after {
    content: " "; 
    display: table;
}
.clearfix:after,
.site-width:after {
    clear: both;
}
.clearfix,
.site-width {
    *zoom: 1;
}
* {
  -webkit-box-sizing: border-box; 
     -moz-box-sizing: border-box; 
          box-sizing: border-box; 
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
button,
input,
select,
textarea {
    color: #000; 
	font-size:100%;
}
b,
strong,
th {
    font-weight: bold;
}
h1, h2, h3, h4, h5, h6, p, ul, ol, dl, form {
	margin-top:0;
	margin-bottom:20px;
}
p { 
	line-height:1.4;
}
/* ================================== custom style ========================================= */
body {
    font-size: 18px;
    margin: 0 auto;
    padding: 0;
    border: 0;
}
.col-parents {
    max-width: 80%;
    margin: 0 auto;
}
.col {
    float: left;
    width: 25%;
    text-align: center;
    padding: 10px;
}
.col img {
    width: 100px;
    height: 70px;
    border-radius: 10px;
}
.col a {
    color: rgb(2, 158, 158);
}
.main-menu {
    font-size: 21px;
}
.nav {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: gray;
}
.menu:first-child {
    margin-left: 35px;
}
.menu > li {
    list-style: none;
    display: inline-block;
    margin: 0 auto;
    padding: 10px 0px;
}
.menu > li > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px;
    font-size: 28px;
}
.menu li a:hover {
    background-color: rgb(46, 44, 44);
}
.sub-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: white;
    position: absolute;
    z-index: 1;
    display: none;
}
.sub-menu a {
    text-decoration: none;
}
.sub-menu > a {
    color: rgb(226, 221, 221);
}
.menu .sub-menu:hover a{
    color: rgb(43, 41, 41);
}
.menu .sub-menu:hover {
    color: gray;
}
.menu > li:hover .sub-menu {
    display: block;
}
.form {
    font-size: 22px;
    margin: 70px 150px;
    display: inline-block;
    background-color: gray;
    border-radius: 7px;
    width: 500px;
}
.form label {
    margin: 5px 15px;
}
.form > input {
    margin: 5px 15px;
    background-color: gray;
    color: white;
    border: inset darkgray;
    border-radius: 5px;
}
.massage {
    margin: 5px 15px;
}
.button {
    font-size: 26px;
    font-weight: bold;
    margin: 30px 200px;
    padding: 5px 15px;
    background-color: rgb(199, 197, 197);
    border: solid rgb(199, 197, 197);
    border-radius: 10px;
}
.button:hover {
    background-color: rgb(59, 59, 59);
    color: white;
}
.heading {
    text-align: center;
}
.parent-gallery {
    max-width: 80%;
    margin: 0 auto;
}
.gallery {
    float: left;
    text-align: center;
    width: 25%;
    border: 4px inset rgb(56, 56, 56);
    border-radius: 5px;
    margin: 20px;
}
.gallery > img {
    height: 200px;
    width: 170px;
    margin: 10px 10px;
}
.form-sub {
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
    margin: 20px 300px;
    color: rgb(255, 255, 255);
    background-color: #000;
    width: 450px;
}
.form-sub ::placeholder {
    color: white;
} 
.form-sub > input{
    margin: 5px 10px;
    background-color: #1f1e1e;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
}
.sub-massage {
    background-color: #1f1e1e;
    margin: 5px 10px;
    color: white;
}
.button-sub {
    margin: 5px 25px;
    padding: 4px 120px;
    background-color: #B8996B;
    font-weight: bold;
}
.button-sub:hover {
    background-color: rgb(129, 97, 55);
}
.tab-menu {
    margin: 0 auto;
    width: 80%;
}
.tr-menu td{
    width: 21%;
    height: 200px;
    border: 30px solid rgb(255, 255, 255);
    background-color: #8A7677;
    padding: 15px 15px;
}
.parent-div {
    margin: 0 auto;
    width: 80%;
}
.parent-div div {
    float: left;
    width: 21%;
    background-color: #8A7677;
    height: 200px;
    margin: 5px 10px;
}
.parent-div div:nth-child(3){
    background-color: #80629E;
}
.tr-menu td.colspan {
    background-color: white;
}
.flex-block-outer {
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
}
.flex-block-outer .flex-block {
    flex: 25%;
    margin:0;
    margin-bottom: 15px;
}
.flex-block-outer .flex-block .flex-innerr {
    background-color: #3a2222;
    margin:0 15px;
    height: 250px;
}
.flex-block-outer .flex-block:nth-child(3) .flex-innerr {
    background-color: #80629e;
}