/* Clearfix */
.clearfix:before,
.clearfix:after {
    content: " "; 
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
/* ---  table  layout  ---- */
.box-layout{

}
.box-layout table{
    width: 1000px;
    margin:20px auto 20px auto;
}
.box-layout table td{
    background-color: rgb(224, 116, 116);
    height:250px;
    width:25%;
    border:20px solid #fff;
    text-align:center;
}
.box-layout table tr:last-child td:last-child{
    background-color:#fff;
}
.box-layout table tr:nth-child(1) td:nth-child(4){
    background-color:black;
    color:white;
}
.box-layout table tr:last-child td:first-child{
    background-color:rgb(107, 107, 151);
}
/*------- div-float-layout ----------*/
.float-layout{
    max-width:1000px;
    margin:0 auto; 
    
}
.float-layout .one{
    float:left;
    background-color:cyan;
    height:250px;
    width:21.25%;
    text-align:center;
    margin-right:5%;
    margin-bottom:30px;

}
.float-layout .one.col4{
    margin-right: 0;
}
.float-layout .one.col5{
    clear:both;
}

/*------ flex box layout ----*/
.outer{
    max-width: 1000px;
    margin-left:auto;
    margin-right:auto;
    display:flex;
    flex-wrap: wrap;

}
 .inner{
     flex:25%;
     margin : 0;
     margin-bottom:15px;
    
 }
 .flex{
     background-color: brown;
     height:250px;
     border:5px solid white;
     text-align:center;
     
 }
 .flex > div{
    position:relative;
    top:50%;
    transform:translateY(-50%);
 }
 .outer .inner.last:after{
     content:"manisha";
   
 }
 .outer .inner.last{
    background-color: brown;

 }



 /*----- example-----   */

 .parent{
     display: flex;
     background-color:lightgray;
     margin-top:70px;
     margin-bottom:70px;
     align-items:center;
 }
 .child{
    margin-left:200px;
    margin-right:70px;
    padding:20px;
    margin-top:50px;
    margin-bottom:100px;
 }
 .child p{
    font-size:20px;
    color:gray
 }
 .child h6{
     color:gray
 }
 .child2{
 margin-right:80px
 }
 button{
     color:rgb(204, 25, 115);
     padding:5px;
     border:1px solid rgb(204, 25, 115) ;
     margin-top:10px
 }


 /*--------- dropdown ---------*/


 .nav{
    background-color: black;
    position:relative;
    
 }
.menu,
 .menu ul{
     list-style:none;
     padding:0;
     margin:0;
 }
 .menu > li{
    float:left;
    position:relative;
 }
 .menu > li >a{
     text-decoration:none;
    padding:15px;
    display:block;
    font-weight: bold;
    font-size: 20px;
    color:white;
 }
 .menu >li>a:hover{
     background-color: gray;
     font-weight: bold;
     color:black;
 }
 .menu .sub-nav{
    display: none;
     position:absolute;
     left:0;
     top:100%;
     width:220px;
     background-color: gray;


 }
 .menu > li:hover > .sub-nav{
    display:block;
}

.menu .sub-nav a{
    text-decoration:none;
    display:block;
    padding:10px 15px;
    color:black;
    
    font-size:18px;
    font-weight: bold;
}
.menu .sub-nav a:hover {
 background-color:black;
color:white;
 
}

/*image-gallery*/
/* Clearfix */
.clearfix:before,
.clearfix:after {
    content: " "; 
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
.outera{
padding:50px
}
.innera{
    float:left;
    width:23%;
    border:2px solid yellow;
    margin-right:1%;
    box-shadow: 2px 2px 3px 4px gray;
    border-radius:20px 50px;
    overflow: hidden;
}

.innera .text{
    text-align: center;
    padding:15px;
    text-shadow:1px 2px 2px red, 1px 2px 2px blue;
    font-size:19px;
}
.innera:hover{
    border:2px solid black;
}

/*-----website-layout----*/
.site-main-container{
    max-width:1000px;
    margin-right:auto;
    margin-left:auto;
}
.site-header,
.site-nav{
    background-color:indianred;
    text-align:center;
    padding:40px;
    margin-bottom:10px
}
.site-nav{
    padding:20px
}
.site-container{
    display:flex;
}
.site-left,
.site-middle,
.site-right,
.site-footer{
    background-color:indianred;
    text-align:center;
    margin-bottom:10px;
    padding:30px;
    margin-right:10px;
    
}

.site-left{
    flex:15%;

}
.site-middle{
    flex:70%; 
 }
 .site-right{
    flex:15%;
    margin-right:0
 }
 .site-footer{
     margin-right:0
 }

 /*table-layout*/
 .website{
     max-width:1000px;
     margin-right:auto;
     margin-left:auto;
     
 }
 .table{
     background-color: indianred;
 }
  .table-header{
     text-align: center;
padding: 40px;
color:lawngreen;

     
 }
 .table-nav{
     text-align: center;
     padding:20px;
     
 }
 .column1{
     width:200px;
     padding: 30px;
    
 }
 .column2{
    width:580px;
    padding: 30px;
  
 }
 .column3{
    width:200px;
    padding: 30px;
   
 }
 .table-footer{
     padding:30px;
   
 }
 .row-one{
   display: inline-block;
     margin-bottom:10px;

 }
 /*example2*/
 /* Clearfix */
.clearfix:before,
.clearfix:after {
    content: " "; 
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
 .example-website-container{
     max-width: 1000px;
     margin: auto;
     border:2px solid black;

   
 }
 .example-website-header{
    background-color: darkgrey;
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 40px;
    margin: 1px;
    border:1px solid gray;


 }
 .example-website-column-container {
    display: flex;


 }
 .example-website-column-one{
    background-color: darkkhaki;
     width:250px;
     border:1px solid gray;
     margin: 1px;
     margin-top:0;
     min-height: 200px;

   

 }
 .example-website-column-two{
    width:747px;
    border:1px solid gray;
    margin: 1px;
    margin-top:0;
    min-height: 400px;


 }
 .example-website-footer{
     background-color: darkgrey;
     margin:1px;
     border:1px solid gray;
     margin-top:0;
     text-align: center;
 }